{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>signly</title>
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <script src="{% static 'quiz.js'%}"></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="box">
          <div class="columns is-vcentered">
            <div class="column">
              <h1 class="title">Introduction to BSL</h1>
            </div>
            <div class="column">
              <h1 class="title has-text-right signly">signly</h1>
            </div>
          </div>
        </div>
        <div class="box">
          <video
            class="img"
            src="https://bslsignbank.ucl.ac.uk/media/bsl-video/BO/BOAT.mp4"
            muted
            autoplay
            loop
          >
            test
          </video>
        </div>
      </div>
      <fieldset id="answer1">
        <legend>Please select one of the following</legend>
          <input type="radio" name="answer1" id="tree" value="tree" /><label for="tree">A. Tree</label><br />
        <input type="radio" name="answer1" id="horse" value="horse"  /><label for="horse">B. Horse</label><br />
        <input type="radio" name="answer1" id="cow" value="cow" /><label for="cow">C. Cow</label><br />
        <input type="radio" name="answer1" id="boat" value="boat" /><label for="boat">D. Boat</label><br />
      </fieldset>
      <div class="box">
        <video
          class="img"
          src="https://media.signbsl.com/videos/bsl/signstation/good-afternoon.mp4"
          muted
          autoplay
          loop
        >
          test
        </video>
      </div>
    </div>
    <fieldset id="answer2">
      <legend>Please select one of the following</legend>
        <input type="radio" name="answer2" id="whale" value="whale" /><label for="whale">A. Whale</label><br />
      <input type="radio" name="answer2" id="man" value="man"  /><label for="man">B. Man</label><br />
      <input type="radio" name="answer2" id="sorry" value="sorry" /><label for="sorry">C. Sorry</label><br />
      <input type="radio" name="answer2" id="good-afternoon" value="good-afternoon" /><label for="good-afternoon">D. Good Afternoon</label><br />
    </fieldset>
    <div class="box">
      <video
        class="img"
        src="https://media.signbsl.com/videos/bsl/signstation/101-06-76.mp4"
        muted
        autoplay
        loop
      >
        test
      </video>
    </div>
  </div>
  <fieldset id="answer3">
    <legend>Please select one of the following</legend>
      <input type="radio" name="answer3" id="howareyou" value="howareyou" /><label for="howareyou">A. How Are You</label><br />
    <input type="radio" name="answer3" id="no" value="no"  /><label for="no">B. No</label><br />
    <input type="radio" name="answer3" id="jump" value="jump" /><label for="jump">C. Jump</label><br />
    <input type="radio" name="answer3" id="train" value="train" /><label for="train">D. Train</label><br />
  </fieldset>
  <div class="box">
    <video
      class="img"
      src="https://bslsignbank.ucl.ac.uk/media/bsl-video/HE/HELLO.mp4"
      muted
      autoplay
      loop
    >
      test
    </video>
  </div>
</div>
<fieldset id="answer4">
  <legend>Please select one of the following</legend>
    <input type="radio" name="answer4" id="hello" value="hello" /><label for="hello">A. Hello</label><br />
  <input type="radio" name="answer4" id="jump" value="jump"  /><label for="jump">B. Jump</label><br />
  <input type="radio" name="answer4" id="point" value="point" /><label for="point">C. Point</label><br />
  <input type="radio" name="answer4" id="show" value="show" /><label for="show">D. Show</label><br />
</fieldset>
      <button id="button" onclick=checkAnswer()>Submit
      </button><br>
      <div id="ans"></div>
    </section>
  </body>
</html>
